*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #201e1e;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    height: 59px;
    background: #212121;
    width: 100%;
}
.nav-list{
    padding: 15px 40px 15px 70px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.nav-item{
    font-weight: 600;
    font-size: 19px;
}  
.nav-link{
    padding-right: 28px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile{
    display:flex;
    width: 100%;
    padding: 50px 54px 35px;
}
.profile-logo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text{
    margin-left: 168px;
}
.profile-title{
    font-weight: 600;
    font-size: 46px;
    text-transform: uppercase;
}
.profile-subtitle{
    font-size: 29px;
    text-transform: uppercase;
}

.aside{
    width: 30%;
    padding: 20px 23px 10px 60px;
    background-color: #212121;
    border-radius:30px;
    color:#FFFFFF;
    font-weight: 300;
}